@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');


body, html {
    background-color: white;
    margin: 0;
    padding: 0;
  }

  body.amplify-authenticator {
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px; 
  
    
  }
  