@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  
}

body{
  background:#ecf2ff;
  color: azure;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

.App1{
  height: 100vh;
  display: flex;
}

.sideBar{
  flex:2;
  color: white;
  background-color: #212529;
  border-right: 1px solid #ccc;

}
.upperSide {
  display: flex;
  flex-direction: column;
  height: 85%;
  
}

.upperSideTop {
  display: flex;
  justify-content: left;
}

.main{
  flex:9;
}

.logoImage{
  width: 210px;
  height: auto;
}


.messageInputContainer {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 13px;
  padding: 5px 10px;
  height: auto;
  min-height: 38px;
  width:85%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px; 
  margin-bottom: 10px;
  justify-content:space-between;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: hidden;

}

.messageInput {
  flex: 1;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}


*/
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:2rem;
}


.chats {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  padding: 10px;
  overflow-y: auto; 
  width: 100%; 
  height: 88%;
   
}

.message {
  max-width: 100%; 
  word-wrap: break-word;
  padding: 10px;
  border-radius: 15px;
}

.received {
  background-color:#724ee0;
  align-self: flex-start;
  color: white;
  margin-right: auto;
  font-size: 16px;
  line-height: 28px;
}

.sent {
  background-color: white;
  color: #000;
  align-self: flex-end;
  margin-left: auto;
  font-size: 16px;
}

.signOutButton {
  background-color: #212529; 
  color: white; 
  padding: 12px 24px; 
  border: none; 
  cursor: pointer; 
  border-radius: 5px; 
  font-size:  15px;
  line-height: 20px;
  font-weight:600;
}

.signOutButton:hover {
  background-color: #343a40; 
}

.lowerSide{
  padding-left: 2rem;
}

.sendMessageButton {
  background-color: rgb(25, 195, 125);
  border: none;
  border-radius: 12px; 
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sendMessageButton:hover {
  background-color:#02ff7c; 
}

.sendMessageButton img {
  width: 19px;
  height: 19px;
  color: #fff; 
}

.userIcon{
  height: 36px;
  width: 36px;
}


.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  
  border-radius: 8px;
}


.uploadInput {
  display: none;
}

.uploadInput {
  display: none;
}

.uploadInput + label, .uploadButton {
  cursor: pointer;
  background-color: #212529;
  color: #fff;
  padding: 8px 16px; 
  border: 1px solid #d9d9e3;
  
  font-size: 14px; 
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: 4px; 
}

.uploadInput + label:hover, .uploadButton:hover {
  background-color: #343a40;
}

.logoImage{
  padding-right: 0.5rem;
}


.userDetails {
  display: flex;
  align-items: center;
  padding-left: 3.4rem;
  padding-bottom: 5px;
}


.userIcon {
  width: 36px; 
  height: 36px; 
  border-radius: 50%; 
  margin-right: 8px; 
}

.userName {
  font-size: 17px; 
  font-weight: bold; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.outBtn {
  width: 24px;
  height: 24px; 
  margin-right: 10px; 
}

.warningContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #000;
}

.uploadLabel{ 
  cursor: pointer;
  background-color: #212529;
  color: #fff;
  padding: 8px 16px; 
  border: 1px solid #d9d9e3;
  
  font-size: 14px; 
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: 4px; 
  cursor: pointer;
  background-color: #212529;
  color: #fff;
  padding: 8px 16px; 
  border: 1px solid #d9d9e3;
  
  font-size: 14px; 
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top: 4px; 
}
 .uploadLabel:hover {
  background-color: #343a40;
}

.uploadmsg{
  font-size: 14px; 
  font-weight: normal; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  padding-top: 10px;
  line-height: 20px;
}
