@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

.dashboard {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100px;
  height: 50px;
  display: flex;
}




.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

input[type="file"] {
  display: none;
}

.button-container {
  margin-top: 20px;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.logo{
  width: 176px;
  height: auto;
}